@page
@model IndexModel
@{
    ViewData["Title"] = "TODO List";
    int count = 1;
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Срок выполнения</th>
                <th>Срочность выполнения</th>
                <th>Выполнено?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tasks)
            {
                <tr class="@(item.Iscompleted ? "table-success" : item.Todate < DateTime.Now ? "table-danger" : "table-default")">
                    <td class="col-1"><a asp-page="TaskInfo" asp-route-id="@item.Id">@(count++)</a></td>
                    <td class="col-5">@item.Name</td>
                    <td class="col-3">@item.Todate</td>
                    <td class="col-3">@item.Urgency</td>
                    <td class="col-1">@(item.Iscompleted ? "Да" : "Нет")</td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#add-task">Добавить задачу</a>
    <a class="btn btn-info" href="Download">Выгрузить список</a>
</div>

<div class="modal fade" id="add-task" tabindex="-1" aria-labelledby="info-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="info-label">Информация о задаче</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <p>Название задачи <input id="task-name" type="text" name="name" required/></p>
                    <p>Описание задачи <input id="task-description" type="text" name="description" required/></p>
                    <p>Начало выполнения <input id="task-start" type="date" name="fromdate" required/></p>
                    <p>Сроки выполнения <input id="task-period" type="date" name="todate" required/></p>
                    <p>
                        Срочность выполнения
                        <select name="urgency" class="form-select" aria-label="Default select example">
                            <option value="Неотложно" selected>Неотложно</option>
                            <option value="Срочно">Срочно</option>
                            <option value="Может подождать">Может подождать</option>
                            <option value="Не срочно">Не срочно</option>
                        </select>
                    </p>
                    <button type="submit" class="btn btn-primary">Добавить задачу</button>
                </form>

            </div>
        </div>
    </div>
</div>