@page
@model IndexModel
@{
    ViewData["Title"] = "TODO List";
    int count = 1;
}

<div class="container">
    <table class="table">
        <tr>
            <td class="col-1">#</td>
            <td class="col-5">Название</td>
            <td class="col-3">Срок выполнения</td>
            <td class="col-3">Срочность выполнения</td>
            <td class="col-1">Выполнено?</td>
        </tr>
    </table>

    @foreach (var item in Model.Tasks)
    {
        <div class="block">
            <table class="table table-borderless" style="margin: 1% 0;">
                <tr class="data">
                    <td class="col-1"><a asp-page="TaskInfo" asp-route-id="@item.Id">@(count++)</a></td>
                    <td class="col-5">@item.Name</td>
                    <td class="col-3">@item.Todate</td>
                    <td class="col-3">@item.Urgency</td>
                    <td class="col-1">@(item.Iscompleted ? "Да" : "Нет")</td>
                </tr>
            </table>
        </div>
    }

    <a data-bs-toggle="modal" data-bs-target="#add-task" style="cursor: pointer; background: gray; padding: 1%;">Добавить задачу</a>
    <br />
    <br />
    <a href="/Download" style="cursor: pointer; background: yellow; padding: 1%;">Выгрузить список</a>
</div>

<div class="modal fade" id="add-task" tabindex="-1" aria-labelledby="info-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="info-label">Информация о задаче</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <p>Название задачи <input id="task-name" type="text" name="name" required/></p>
                    <p>Описание задачи <input id="task-description" type="text" name="description" required/></p>
                    <p>Начало выполнения <input id="task-start" type="date" name="fromdate" required/></p>
                    <p>Сроки выполнения <input id="task-period" type="date" name="todate" required/></p>
                    <p>
                        Срочность выполнения
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Неотложно</option>
                            <option value="1">Срочно</option>
                            <option value="2">Может подождать</option>
                            <option value="3">Не срочно</option>
                        </select>
                    </p>
                    <button type="submit" class="btn btn-primary">Добавить задачу</button>
                </form>

            </div>
        </div>
    </div>
</div>